@{
    ViewBag.Title = "主頁";
}

<div class="block-img">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Asset/主頁圖01(壓縮).png" class="d-block w-100" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Asset/主頁圖02(壓縮).png" class="d-block w-100" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<div class="blockB">
    <div class="row fade-in">
        <div class="col-md-6">
            <div class="contact-block">
                <div class="title">
                    校園動線影片
                </div>
                <div class="detail">
                    這裏你能透過全景VR影片瞭解校園環境。影片會展示外賓/學生常用的動線作爲導覽，有助您快速熟悉校園。
                </div>
                <div class="container">
                    <a href="@Url.Action("Video", "IMVR")">
                        <button class="custom-btnB btnInfoB">
                            瞭解更多
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Asset/影片部分圖片(壓縮).png" class="img-contact" />
        </div>
    </div>
</div>
<div class="blockW">
    <div class="row fade-in">
        <div class="col-md-6">
            <img src="~/Asset/VR部分圖片(壓縮).png" class="img-contact" />
        </div>
        <div class="col-md-6">
            <div class="contact-block">
                <div class="title">
                    資管系VR導覽
                </div>
                <div class="detail">
                    這裏你可以使用VR導覽系統自由遊覽資管系，向你展示資管系最完整的一面！
                </div>
                <div class="container">
                    <a href="@Url.Action("VR", "IMVR")">
                        <button class="custom-btnW btnInfoW">
                            瞭解更多
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blockB">
    <div class="contact-block fade-in">
        <div class="tilte-long">
            明新地點資訊
        </div>
        <div class="detail-long">
            <div class="line">
                地址：30401新竹縣新豐鄉新興路1號
            </div>
            <div class="line">
                電話：+886-3-5593142
            </div>
            <div class="line">
                傳真：+886-3-5595142
            </div>
        </div>
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3516.9469861970106!2d120.99173720367226!3d24.863938019992002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34683154faa8283b%3A0x92cb1c5564a574ef!2z5piO5paw56eR5oqA5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1678679328079!5m2!1szh-TW!2stw" class="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="blockW">
    <div class="contact-block fade-in">
        <div class="tilte-long">
            問卷調查
        </div>
        <div class="detail-long">
            <div class="line">
                你喜歡這個網站嗎？或對網站有不滿意的地方？
            </div>
            <div class="line">
                請您花費數分鐘的時間填寫以下問卷
            </div>
            <div class="line">
                你們的回饋有助改善本網站哦
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <button class="custom-btnW long btnInfoW ">填寫問卷</button>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>